
html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  margin: 0;
  padding: 0;
  background-color: blue;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

label {
	font-size: 26px;
	font-family: sans-serif;
	color: green;
	align-self: center;
}

#hello {
	border: none;
    background-color: white;
    color: black;
    display: block;
    font-family: 'Roboto', 'Helvetica', sans-serif;
    margin: 0 auto;
    padding: 1.5rem 1rem;
    text-align: center;
    width: 15rem;
}

h1 {
	color: green;
	font-family: cursive;
}

input {
	border-radius: 25%;
}
